.hi-modal {
    .full-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: repeat;
        z-index: 999;
        &.black {
            background-image: url("images/black_bg.png");
        }
        &.white {
            background-image: url("images/white_bg.png");
        }
    }
    .modal-wrap {
        display: none;
        width: 500px;
        height: 300px;
        position: fixed;
        top: 0;
        left: 50%;
        margin-left: -250px;
        background-color: #fff;
        z-index: 1000;
    }
}